In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50,50] + [35.69, 139.70],
    columns=['lat', 'lon']
)
df

          lat         lon
0   35.705718  139.713588
1   35.703078  139.715074
2   35.690286  139.704554
3   35.697158  139.718079
4   35.699478  139.701051
..        ...         ...
95  35.701869  139.704276
96  35.708127  139.704581
97  35.700455  139.718008
98  35.690877  139.712130
99  35.690787  139.713644

[100 rows x 2 columns]